*
logs/*

*_db/backup_*/*
*_db/restore_logs/*
!*_db/backup_*/.gitkeep
!*_db/restore_logs/.gitkeep
!*_db
!*_db/*

!dags/
!dags/*.py

!entrypoint.sh

!logs
!logs/.gitkeep
!.gitkeep
!Dockerfile
!docker-compose-backups.yml
!.env
!.gitignore
!README.md
