# IGAD superset config
server {
    listen          80;
    server_name     $NGINX_SUPERSET_DOMAIN_NAME;

    location / {
        proxy_pass        http://$NGINX_UPSTREAM_SUPERSET:8088;
    }
}
server {
	listen 443 ssl;
	server_name $NGINX_SUPERSET_DOMAIN_NAME;
	ssl_certificate /etc/nginx/certs/superset.crt;
	ssl_certificate_key /etc/nginx/certs/superset.key;
	location / {
		proxy_pass http://$NGINX_UPSTREAM_SUPERSET:8088/;
		error_log /var/log/superset_errors.log;
	}
}